<h2><%= @team.city %> <%= @team.name %></h2>

<h4>The mascot is: <em><%= @team.mascot %></em></h4>

<% if @team.players.count > 0 %>
	<% @team.players.each do |player| %>
		<p><%= player.first_name %> <%= player.last_name %>(<%= player.number %>)</p>
	<% end %>
<% else %>
	<h4>There are no players added. </h4>
<% end %>
<p><a href="/teams/<%= @team.slug %>/players/new">Add player</a></p>
